:root {
  --normal-color: #000000;
}
a {
  text-decoration: none;
  color: var(--normal-color);
}
body, h1 {
  margin: 0;
}
button, input:not([type="text"]):not([type="email"]) {
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
