:root {
  --light: #ffffff;
  --ordinary-button: #fb565a;
  --ordinary-button-hover: #e74246;
  --ordinary-button-active: #d7373b;
  --button-1: #fb565a;
  --button-2: #00ca74;
  --button-3: #efc849;
  --background-2: #eeeeee;
  --icon: #e1e1e1;
  --contact: #666666;
  --logo-press: #a6a6a6;
  --text-active: #aaaaaa;
  --button-text-active: #e37376;
  --button-1-hover: #e74246;
  --button-1-active: #d7373b;
  --button-1-text: #e37376;
  --button-2-hover: #00bc6c;
  --button-2-active: #00aa62;
  --button-2-text: #4cc391;
  --button-3-hover: #eab534;
  --button-3-active: #e5a722;
  --button-3-text: #edc164;
  --icon-hover: #e74246;
  --icon-active: #d7373b;
  --catalog-button-hover: #dfdfdf;
  --catalog-button-active: #d5d5d5;
  --catalog-button-text: #959595;
  --sort: #b3b3b3;
  --sort-hover: #666666;
  --sort-active: #000000;
  --disabled: #bfc1c3;
  --template-H-hover: #4d4d4d;
  --dark: #a0a0a0;
  --point: #ababab;
  --strip: #d7dcdf;
  --value: #00ca74;
  --input: #b8b8b8;
  --name-active: #b3b3b3;
}
.about-us {
  display: flex;
  align-items: center;
  padding-bottom: 59px;
}
.about-us img {
  margin-bottom: 22px;
  margin-top: 8px;
}
.about-us .list {
  display: flex;
  height: 20px;
  justify-content: left;
  align-items: center;
}
.about-us + section {
  margin-bottom: 80px;
}
.about-us-top.top {
  margin-top: 27px;
}
.advantages-list {
  font-weight: bold;
  font-size: 16px;
}
.advantages-list:first-of-type {
  text-transform: uppercase;
  margin-left: 15px;
}
.advantages-ul {
  display: flex;
}
.advantages-ul li:not(:last-child) {
  margin-right: 20px;
}
body {
  font-family: 'Roboto', Arial, sans-serif;
}
.button-1 {
  background-color: var(--button-1);
}
.button-1:hover {
  background-color: var(--button-1-hover);
}
.button-1:active {
  background-color: var(--button-1-active);
  color: var(--button-1-text);
}
.button-2 {
  background-color: var(--button-2);
}
.button-2:hover {
  background-color: var(--button-2-hover);
}
.button-2:active {
  background-color: var(--button-2-active);
  color: var(--button-2-text);
}
.button-3 {
  background-color: var(--button-3);
}
.button-3:hover {
  background-color: var(--button-3-hover);
}
.button-3:active {
  background-color: var(--button-3-active);
  color: var(--button-3-text);
}
.cart {
  margin-right: 19px;
  margin-top: 66px;
}
.characteristic {
  background-color: var(--background-2);
}
.choosed::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--background-2);
  border-radius: 50%;
  top: 5px;
  left: 5px;
}
.contact {
  line-height: 18px;
  color: var(--contact);
  margin-top: 26px;
  margin-bottom: 0;
}
.cost {
  width: 260px;
  height: 80px;
  background-color: var(--background-2);
  border-radius: 3px;
  position: relative;
}
.costs {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-size: 16px;
}
.cost1 {
  margin-left: 11px;
  margin-right: 33px;
}
.cost1, .cost2 {
  width: 80px;
  height: 31px;
  background-color: var(--background-2);
  text-align: center;
  padding-top: 8px;
  border-radius: 3px;
  margin-top: 12px;
}
.cost2 {
  margin-left: 12px;
}
.customization {
  margin-right: 139px;
}
.design-studio {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 33px;
}
.down.direction {
  background-image: url(../img/arrow-1-active.svg);
  width: 11px;
  height: 10px;
}
.digit {
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 11px;
  margin-top: 23px;
}
.direction {
  width: 11px;
  height: 10px;
  border: none;
  background: none;
  margin-top: 0;
}
.direction:nth-of-type(1) {
  margin-right: 18px;
}
:disabled + label {
  color: var(--disabled);
}
.discount {
  margin-top: 5px;
}
.div-fb:active .fb {
  background-image: url(../img/fb-active.svg);
}
.div-in:active .in {
  background-image: url(../img/in-active.svg);
}
.div-vk:active .vk {
  background-image: url(../img/vk-active.svg);
}
.fb {
  width: 12px;
  height: 22px;
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.footer {
  padding-top: 68px;
  padding-bottom: 68px;
}
.footer div:not(.end) {
  display: flex;
  align-items: center;
  width: 1158px;
  margin: 0 auto;
}
.friend {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 0;
  margin-top: 0;
}
header {
  background-color: var(--background-2);
}
h1 {
  background-color: var(--background-2);
  height: 168px;
  font-weight: 500;
  font-size: 55px;
  text-align: center;
  padding-top: 72px;
  padding-right: 16px;
}
.in {
  width: 21px;
  height: 21px;
  background-image: url(../img/in.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 28px;
}
.images img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.images li {
  position: relative;
  margin-top: 24px;
  height: 618px;
  border-radius: 5px;
  word-wrap: break-word;
}
.images li:hover {
  box-shadow: 0px 5px 5px 0px var(--dark);
}
.images li:not(:nth-child(1)):not(:nth-child(2)) {
  margin-top: 32px;
}
.images li:nth-of-type(2n) {
  margin-left: 41px;
}
li:hover .template-H {
  background-color: var(--template-H-hover);
}
li:hover .layout-data {
  display: block;
}
label {
  cursor: pointer;
  padding-left: 36px;
  display: block;
  position: relative;
}
.label {
  font-weight: bold;
  font-size: 18px;
  margin-top: 43px;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.label:first-child {
  margin-bottom: 53px;
  margin-top: 60px;
}
.label:last-of-type {
  margin-top: 53px;
}
.layout-data {
  width: 360px;
  height: 231px;
  background-color: var(--background-2);
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}
.layout-data p {
  color: var(--contact);
  line-height: 18px;
  width: 360px;
  text-align: center;
}
.layout-data a:not(.layout-name) {
  width: 200px;
  height: 34px;
  border-radius: 3px;
  background-color: var(--ordinary-button);
  color: var(--light);
  font-weight: 500;
  display: block;
  text-align: center;
  padding-top: 16px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 34px;
}
.layout-data a:not(.layout-name):hover {
  background-color: var(--ordinary-button-hover);
}
.layout-data a:not(.layout-name):active {
  background-color: var(--ordinary-button-active);
}
.layout-name {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  width: 360px;
  text-align: center;
  display: block;
  margin-top: 31px;
}
.layout-name:hover {
  color: var(--ordinary-button);
}
.layout-name:active {
  color: var(--name-active);
}
.list div {
  width: 25px;
  height: 2px;
  background-color: var(--ordinary-button);
  margin-right: 7px;
}
.list p {
  margin: 0;
}
.list:nth-child(1), .list:nth-child(2) {
  margin-bottom: 29px;
}
.logo {
  margin-top: 49px;
  width: 160px;
  height: 66px;
  background-image: url(../img/nerds.png);
}
.logo:active {
  background-image: url(../img/nerds-active.png);
}
.map {
  background-image: url(../img/map.png);
  background-size: 1440px;
  background-color: var(--background-2);
  height: 362px;
  padding-top: 54px;
  background-position-x: 40px;
}
.map button {
  width: 219px;
  height: 50px;
  background-color: var(--ordinary-button);
  border-radius: 3px;
  color: var(--light);
  text-transform: uppercase;
  border: none;
}
.map div:not(.position) {
  width: 269px;
  height: 251px;
  background-color: var(--light);
  padding-left: 50px;
  padding-top: 34px;
  padding-bottom: 23px;
}
.max {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--light);
  border-radius: 50%;
  box-shadow: 0px 2px 1px 0px var(--dark);
  left: 160px;
  top: 30px;
  cursor: pointer;
}
.max div {
  width: 4px;
  height: 4px;
  margin: 8px;
  background-color: var(--point);
  border-radius: 50%;
}
.min {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--light);
  border-radius: 50%;
  box-shadow: 0px 2px 1px 0px var(--dark);
  left: 18px;
  top: 30px;
  cursor: pointer;
}
.min div {
  width: 4px;
  height: 4px;
  margin: 8px;
  background-color: var(--point);
  border-radius: 50%;
}
.more-read {
  width: 240px;
  background-color: var(--ordinary-button);
  display: block;
  border-radius: 3px;
  color: var(--light);
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-top: 38px;
  text-transform: uppercase;
}
.more-read:hover {
  background-color: var(--ordinary-button-hover);
}
.more-read:active {
  background-color: var(--ordinary-button-active);
  color: var(--button-text-active);
}
.name {
  font-weight: bold;
  font-size: 18px;
}
nav {
  display: flex;
}
nav a {
  margin-right: 45px;
}
.nav {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 66px;
}
.nav:hover {
  color: var(--ordinary-button);
}
.nav:active {
  color: var(--text-active);
}
.network {
  display: flex;
  justify-content: space-between;
  width: 261px;
  margin-right: 139px;
}
.network div:not(.fb):not(.in):not(.vk) {
  width: 81px;
  height: 81px;
  background-color: var(--icon);
  border-radius: 50%;
}
.network div:hover:not(.fb):not(.in):not(.vk) {
  background-color: var(--icon-hover);
}
.network div:active:not(.fb):not(.in):not(.vk) {
  background-color: var(--icon-active);
}
.next {
  width: 260px;
  height: 50px;
  text-transform: uppercase;
}
.opened {
  position: relative;
}
.opened::after {
  content: "";
  display: block;
  position: absolute;
  width: 74px;
  height: 2px;
  background-color: var(--ordinary-button);
  bottom: -20px;
}
.page {
  display: flex;
  margin-top: 57px;
  margin-bottom: 60px;
}
.pages {
  display: flex;
}
.pages button {
  width: 50px;
  height: 50px;
  margin-right: 11px;
}
.partners {
  border-top: 2px solid var(--background-2);
  border-bottom: 2px solid var(--background-2);
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1158px;
}
.partners :nth-child(2n) {
  width: 2px;
  height: 52px;
  background-color: var(--background-2);
}
.partners :nth-child(2) {
  position: relative;
  left: -3px;
}
.partners :nth-child(4) {
  position: relative;
  left: -25px;
}
.partners :nth-child(6) {
  position: relative;
  left: -22px;
}
.partner1 {
  width: 199px;
  height: 68px;
  background-image: url(../img/partner-1.png);
  position: relative;
  left: 4px;
  top: 7px;
}
.partner1:hover {
  background-image: url(../img/partner-1-hover.png);
}
.partner1:active{
  background-image: url(../img/partner-1-active.png);
}
.partner2 {
  width: 209px;
  height: 90px;
  background-image: url(../img/partner-2.png);
  position: relative;
  left: -13px;
  top: 1px;
}
.partner2:hover {
  background-image: url(../img/partner-2-hover.png);
}
.partner2:active{
  background-image: url(../img/partner-2-active.png);
}
.partner3 {
  width: 185px;
  height: 52px;
  background-image: url(../img/partner-3.png);
  position: relative;
  left: -22px;
  top: 1px;
}
.partner3:hover {
  background-image: url(../img/partner-3-hover.png);
}
.partner3:active{
  background-image: url(../img/partner-3-active.png);
}
.partner4 {
  width: 173px;
  height: 84px;
  background-image: url(../img/partner-4.png);
  position: relative;
  left: -14px;
  top: 4px;
}
.partner4:hover {
  background-image: url(../img/partner-4-hover.png);
}
.partner4:active{
  background-image: url(../img/partner-4-active.png);
}
.popup, .illustration-2, .illustration-3, .design-2, .design-3 {
  display: none;
}
.popup label {
  padding-left: 0;
  padding-bottom: 7px;
}
.popup-show {
  display: block;
  position: fixed;
  left: 290px;
  top: 50px;
  background-color: var(--light);
  padding-bottom: 80px;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 80px;
  box-shadow: 0px 10px 18px 0px var(--dark);
}
.popup-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1158px;
}
.services {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  column-gap: 100px;
  border-bottom: 2px solid var(--background-2);
  padding-top: 80px;
  width: 1158px;
  padding-right: 58px;
}
.services a {
  width: 160px;
  display: block;
  border-radius: 3px;
  font-weight: 500;
  color: var(--light);
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 80px;
}
.services h3 {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 16px;
}
.slider {
  position: absolute;
  margin-left: 537px;
  margin-top: 317px;
  width: 88px;
  height: 18px;
  display: flex;
  justify-content: space-between;
}
.slider button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--light);
  border: none;
  padding: 0;
  position: relative;
}
.sortli {
  text-transform: uppercase;
}
.sortul {
  display: flex;
}
.sortul button {
  text-transform: uppercase;
  margin-right: 19px;
  border: none;
  background-color: transparent;
  color: var(--sort);
}
.sortul button:hover {
  color: var(--sort-hover);
}
.sortul button:active {
  color: var(--sort-active);
}
span {
  font-weight: bold;
  font-size: 26px;
  vertical-align: top;
}
.strip {
  position: absolute;
  width: 205px;
  height: 2px;
  background-color: var(--strip);
  left: 26px;
  top: 39px;
}
.switch-on:hover {
  background-color: var(--ordinary-button-hover);
}
.tag {
  text-transform: uppercase;
  margin-right: 251px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
}
.tel {
  color: var(--contact);
  margin-top: 18px;
  margin-bottom: 37px;
}
.template-H {
  height: 40px;
  background-color: var(--background-2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.templates {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  align-items: center;
}
textarea {
  width: 720px;
  padding-left: 20px;
  padding-top: 20px;
  padding: 20px;
}
.text, label {
  font-size: 16px;
  line-height: 24px;
}
.title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-top: 78px;
  margin-bottom: 25px;
}
.top {
  align-items: flex-start;
}
[type="checkbox"] + label {
  margin-bottom: 17px;
}
[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  display: block;
  background-image: url(../img/unchecked.png);
  left: 0;
}
[type="checkbox"]:checked + label::before {
  background-image: url(../img/checked.png);
  width: 26px;
}
[type="checkbox"], [type="radio"] {
  display: none;
  position: relative;
}
[type="email"] {
  height: 43px;
  width: 315px;
  padding-left: 20px;
  padding-right: 20px;
}
[type="radio"] + label {
  margin-bottom: 15px;
}
[type="radio"] + label::before {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  border: 4px solid var(--input);
  position: absolute;
  border-radius: 50%;
  left: 0;
}
[type="radio"]:checked + label::before {
  background-image: url(../img/oval.png);
  background-position: center;
  background-repeat: no-repeat;
}
[type="submit"] {
  width: 260px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 43px;
}
[type="submit"].look {
  margin-top: 30px;
}
[type="submit"].send {
  color: var(--light);
  background-color: var(--ordinary-button);
}
[type="submit"].send:hover {
  background-color: var(--ordinary-button-hover);
}
[type="submit"].send:active {
  background-color: var(--ordinary-button-active);
  color: var(--button-text-active);
}
[type="submit"], .page button {
  border-radius: 3px;
  border: none;
}
[type="submit"]:hover, .page button:hover {
  background-color: var(--catalog-button-hover);
}
[type="submit"]:active, .page button:active {
  background-color: var(--catalog-button-active);
  color: var(--catalog-button-text);
}
[type="text"] {
  height: 43px;
  width: 315px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 40px;
}
.up {
  background-image: url(../img/arrow-2.svg);
  width: 11px;
  height: 10px;
}
.user-data {
  display: flex;
  margin-bottom: 30px;
}
.value {
  width: 138px;
  height: 2px;
  background-color: var(--value);
  position: absolute;
  left: 26px;
  top: 39px;
}
.vk {
  width: 26px;
  height: 15px;
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.work {
  margin-bottom: 26px;
  margin-top: 44px;
  text-transform: uppercase;
}
.write {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 35px;
}
.write + div {
  background-image: url(../img/close.svg);
  width: 21px;
  height: 21px;
}
.write + div:hover {
  background-image: url(../img/close-hover.svg);
}
.write + div:active {
  background-image: url(../img/close-active.svg);
}
