:root {
  --light: #ffffff;
  --ordinary-button: #fb565a;
  --ordinary-button-hover: #e74246;
  --ordinary-button-active: #d7373b;
  --button-1: #fb565a;
  --button-2: #00ca74;
  --button-3: #efc849;
  --background-2: #eeeeee;
  --icon: #e1e1e1;
  --contact: #666666;
  --logo-press: #a6a6a6;
  --text-active: #aaaaaa;
  --button-text-active: #e37376;
  --button-1-hover: #e74246;
  --button-1-active: #d7373b;
  --button-1-text: #e37376;
  --button-2-hover: #00bc6c;
  --button-2-active: #00aa62;
  --button-2-text: #4cc391;
  --button-3-hover: #eab534;
  --button-3-active: #e5a722;
  --button-3-text: #edc164;
  --icon-hover: #e74246;
  --icon-active: #d7373b;
  --catalog-button-hover: #dfdfdf;
  --catalog-button-active: #d5d5d5;
  --catalog-button-text: #959595;
  --sort: #b3b3b3;
  --sort-hover: #666666;
  --sort-active: #000000;
  --disabled: #bfc1c3;
  --template-H-hover: #4d4d4d;
}
.about-us {
  display: flex;
}
.about-us img {
  margin-top: 39px;
  margin-bottom: 37px;
}
.about-us .list {
  display: flex;
  height: 20px;
  justify-content: left;
  align-items: center;
}
.advantages-list {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.advantages-ul {
  display: flex;
}
.advantages-ul li {
  margin-right: 21px;
}
body {
  margin: 0 auto;
  width: 1440px;
}
.button-1 {
  background-color: var(--button-1);
}
.button-1:hover {
  background-color: var(--button-1-hover);
}
.button-1:active {
  background-color: var(--button-1-active);
  color: var(--button-1-text);
}
.button-2 {
  background-color: var(--button-2);
}
.button-2:hover {
  background-color: var(--button-2-hover);
}
.button-2:active {
  background-color: var(--button-2-active);
  color: var(--button-2-text);
}
.button-3 {
  background-color: var(--button-3);
}
.button-3:hover {
  background-color: var(--button-3-hover);
}
.button-3:active {
  background-color: var(--button-3-active);
  color: var(--button-3-text);
}
.cart {
  margin-left: 245px;
  margin-right: 25px;
  margin-top: 77px;
}
.characteristic {
  display: flex;
  background-color: var(--background-2);
  padding-left: 140px;
}
.contact {
  font-family: Roboto, Arial, sans-serif;
  line-height: 18px;
  color: var(--contact);
  margin-top: 23px;
}
.costs {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}
.cost1 {
  margin-left: 11px;
  margin-right: 33px;
}
.cost1, .cost2 {
  width: 80px;
  height: 30px;
  background-color: var(--background-2);
  text-align: center;
  padding-top: 8px;
  border-radius: 3px;
}
.cost2 {
  margin-left: 12px;
}
.customization {
  margin-right: 140px;
}
.data {
  margin-right: 149px;
}
.design-studio {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.digit {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 11px;
}
.direction {
  width: 11px;
  height: 10px;
  border: none;
  background: none;
  margin-top: 0;
}
.direction .down {
  background-image: url(../img/arrow-1-active.svg);
  width: 11px;
  height: 10px;
}
.direction:nth-of-type(1) {
  margin-right: 18px;
}
.direction .up {
  background-image: url(../img/arrow-2.svg);
  width: 11px;
  height: 10px;
}
:disabled + label {
  color: var(--disabled);
}
.fb{
  width: 12px;
  height: 22px;
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.fb:active {
  background-image: url(../img/fb-active.svg);
}
.footer {
  display: flex;
  height: 217px;
}
.friend {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-top: 65px;
  margin-bottom: 0;
}
header {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: 114px;
  background-color: var(--background-2);
  padding-left: 140px;
}
h1 {
  display: block;
  background-color: var(--background-2);
  height: 163px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 55px;
  text-align: center;
  vertical-align: middle;
  padding-top: 72px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.images img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
li:hover .template-H {
  background-color: var(--template-H-hover);
}
.images li:nth-of-type(2n) {
  margin-left: 41px;
}
.in {
  width: 21px;
  height: 21px;
  background-image: url(../img/in.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.in:active {
  background-image: url(../img/in-active.svg);
}
.label {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 43px;
  margin-bottom: 14px;
}
.label:first-child {
  margin-bottom: 48px;
  margin-top: 55px;
}
.list div {
  width: 25px;
  height: 2px;
  background-color: var(--ordinary-button);
  margin-right: 7px;
}
.list p {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}
.list:nth-child(1), .list:nth-child(2) {
  margin-bottom: 23px;
}
.logo {
  margin-right: 202px;
  margin-top: 49px;
  width: 160px;
  height: 66px;
  background-image: url(../img/nerds.png);
}
.logo:active {
  background-image: url(../img/nerds-active.png);
}
main section:not(:nth-child(1)) {
  padding-left: 140px;
  padding-right: 140px;
}
.map {
  background-image: url(../img/map.png);
  background-color: var(--background-2);
  width: 1300px;
  height: 362px;
  padding-top: 54px;
  padding-left: 140px;
}
.map button {
  width: 219px;
  height: 50px;
  background-color: var(--ordinary-button);
  border-radius: 3px;
  color: var(--light);
  text-transform: uppercase;
  border: none;
}
.map div {
  width: 269px;
  height: 248px;
  background-color: var(--light);
  padding-left: 50px;
  padding-top: 40px;
}
.more-read {
  width: 240px;
  background-color: var(--ordinary-button);
  display: block;
  border-radius: 3px;
  font-family: Roboto, Arial, sans-serif;
  color: var(--light);
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-top: 38px;
  text-transform: uppercase;
}
.more-read:hover {
  background-color: var(--ordinary-button-hover);
}
.more-read:active {
  background-color: var(--ordinary-button-active);
  color: var(--button-text-active);
}
.name {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 438px;
}
.nav {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 75px;
}
.nav:hover {
  color: var(--ordinary-button);
}
.nav:active {
  color: var(--text-active);
}
.network {
  display: flex;
  justify-content: space-around;
  width: 261px;
  margin-top: 68px;
  margin-left: 140px;
  margin-right: 139px;
}
.network div {
  width: 81px;
  height: 81px;
  background-color: var(--icon);
  border-radius: 50%;
}
.network div:hover {
  background-color: var(--icon-hover);
}
.network div:active {
  background-color: var(--icon-active);
}
.next {
  width: 260px;
  height: 50px;
  margin-top: 16px;
}
.opened {
  border-bottom: 2px solid var(--ordinary-button);
  padding-bottom: 15px;
}
.page {
  display: flex;
  margin-top: 55px;
  margin-bottom: 60px;
}
.pages {
  display: flex;
}
.pages button {
  width: 50px;
  height: 50px;
  margin-right: 11px;
}
.partners {
  border-top: 2px solid var(--background-2);
  border-bottom: 2px solid var(--background-2);
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 70px;
}
.partners :nth-child(2n) {
  width: 2px;
  height: 52px;
  background-color: var(--background-2);
}
.partner1 {
  width: 199px;
  height: 68px;
  background-image: url(../img/partner-1.png);
}
.partner1:hover {
  background-image: url(../img/partner-1-hover.png);
}
.partner1:active{
  background-image: url(../img/partner-1-active.png);
}
.partner2 {
  width: 209px;
  height: 90px;
  background-image: url(../img/partner-2.png);
}
.partner2:hover {
  background-image: url(../img/partner-2-hover.png);
}
.partner2:active{
  background-image: url(../img/partner-2-active.png);
}
.partner3 {
  width: 185px;
  height: 52px;
  background-image: url(../img/partner-3.png);
}
.partner3:hover {
  background-image: url(../img/partner-3-hover.png);
}
.partner3:active{
  background-image: url(../img/partner-3-active.png);
}
.partner4 {
  width: 173px;
  height: 84px;
  background-image: url(../img/partner-4.png);
}
.partner4:hover {
  background-image: url(../img/partner-4-hover.png);
}
.partner4:active{
  background-image: url(../img/partner-4-active.png);
}
.popup {
  display: none;
}
.popup-show {
  display: block;
  position: fixed;
  left: 240px;
  bottom: 200px;
}
.services {
  display: flex;
  justify-content: left;
  margin-top: 80px;
  border-bottom: 2px solid var(--background-2);
}
.services a {
  width: 160px;
  display: block;
  border-radius: 3px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  color: var(--light);
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 80px;
}
.services h3 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 16px;
}
.services li:nth-child(1), .services li:nth-child(2) {
  margin-right: 100px;
}
.shop {
  display: flex;
}
.sortli {
  text-transform: uppercase;
}
.sortul {
  display: flex;
}
.sortul button {
  text-transform: uppercase;
  margin-right: 19px;
  border: none;
  background-color: transparent;
  color: var(--sort);
}
.sortul button:hover {
  color: var(--sort-hover);
}
.sortul button:active {
  color: var(--sort-active);
}
span {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  vertical-align: top;
}
.tag {
  text-transform: uppercase;
  margin-right: 251px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.tel {
  font-family: Roboto, Arial, sans-serif;
  color: var(--contact);
  margin-top: 23px;
  margin-bottom: 37px;
}
.template-H {
  height: 40px;
  margin-top: 30px;
  background-color: var(--background-2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.templates {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  align-items: center;
}
.text, label {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.title {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-top: 78px;
  margin-bottom: 25px;
}
[type="submit"] {
  width: 260px;
  height: 50px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 48px;
}
[type="submit"], .page button {
  border-radius: 3px;
  border: none;
}
[type="submit"]:hover, .page button:hover {
  background-color: var(--catalog-button-hover);
}
[type="submit"]:active, .page button:active {
  background-color: var(--catalog-button-active);
  color: var(--catalog-button-text);
}
.visually-hidden {
  position: absolute;
  font-size: 0;
}
.vk {
  width: 26px;
  height: 15px;
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.vk:active {
  background-image: url(../img/vk-active.svg);
}
.work {
  margin-bottom: 23px;
  margin-top: 40px;
}
